@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.3);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

@-webkit-keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}
// INPUT ERROR ANIMATIONS
@keyframes fadesInAndOut {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
  }
  9% {
    opacity: 1;
    visibility: visible;
    transform: translateY(-100%);
  }
  91% {
    opacity: 1;
    visibility: visible;
    transform: translateY(-100%);
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
  }
}
