@import './variables';

// PRIMARY HEADING
.heading-primary {
  display: inline-block;
  font-size: $fs-large;
  font-weight: $x-bold;
  background-image: linear-gradient(to right, $colorPrimary, $colorGrey);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// SECONDARY HEADING
.heading-secondary {
  font-size: $medium;
  color: $colorGreyDark-1;
}

.paragraph {
  font-size: $xx-default;
}

// HEADER
.header {
  height: 7.5rem;
  padding: 0 1rem;
  box-shadow: $shadowLightSamll;
}

// INPUTS
.input {
  padding: 1rem 1.2rem;
  display: inline-block;
  width: 95%;
  font-size: $xx-default;
  font-family: inherit;
  border-radius: $br-small;
  color: $colorGreyLight-1;
  border: none;
  background-color: $colorGrey;
  opacity: 0.9;
  transition: all 0.2s;

  &:focus {
    outline: none;
    width: 100%;
  }
}
// REGISTRATION FORM INPUTS
.register--input {
  border-bottom: solid 4px transparent;
  transition: all 0.2s;
  width: 100%;
  &:focus {
    width: 100%;
    border-bottom: solid 4px $alertWarning;
  }
  padding: 1.2rem;
}
// BUTTON
.btn {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: $br-small;
  font-size: $xx-default;
  background-color: currentColor;
  color: currentColor;
  opacity: 0.9;
  transition: all 0.2s;

  &--small {
    padding: 1rem 1.2rem;
  }

  &--dark {
    background-color: $colorGrey;
    color: $colorGreyLight-1;
  }
  &--green {
    background-color: $colorPrimary;
    color: $colorWhite;
    &:hover {
      background-color: $colorPrimaryDark;
    }
  }

  &--register {
    align-self: stretch;
  }
}

// LINK BUTTONS
.text-btn {
  &:link,
  &:visited {
    display: flex;
    align-items: center;
    gap: $space-small;
    text-decoration: none;
    background-color: $colorGrey;
    opacity: 0.9;
    padding: 1rem;
    width: 100%;
    font-family: inherit;
    color: $colorGreyLight-1;
    border-radius: $br-small;
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    opacity: 0.6;
  }
}

.btn--add-list:hover span {
  transition: all 0.2s;
  margin-right: 0.7rem;
}
