@import './variables';

@mixin flexboxCentering {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin styleScrollBar($size) {
  &::-webkit-scrollbar {
    height: $size;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
