@import './variables';

.alert-success {
  background-color: $alertSuccess !important;
}
.alert-warning {
  background-color: $alertWarning !important;
}
.alert-danger {
  background-color: $alertDanger !important;
}

.u-margin-bottom--medium {
  margin-bottom: $space-medium !important;
}
