// COLORS
$colorPrimary: #2ed573;
$colorPrimaryLight: #43d981;
$colorPrimaryDark: #29c068;
// $colorDarkGrey: #101010;
$colorDarkGrey: #333;
$colorDarkGreyLight: #ebebeb;
$colorWhite: #fff;
$colorBlack: #000;

// FONST SIZES
$defaultFontSize: 1.6rem;

//FONT WEIGHTS
$default: 400;
$bold: 500;
$x-bold: 600;
$thin: 300;

// SHADOWS
$shadowLightSamll: 0 0.2rem 3.5rem rgba($colorBlack, 0.08);
$shadowLightSamll: 0 0 0.9rem rgba($colorBlack, 0.2);
