// UNUSED
// $colorDarkGrey: #101010;

// COLORS
$colorPrimary: #2ed573;
$colorPrimaryLight: #43d981;
$colorPrimaryDark: #29c068;
$colorGrey: #333;
$colorGreyDark-1: #aaa;
$colorGreyDark-2: #ebebeb;
$colorGreyLight-1: #f5f6f8;
$colorWhite: #fff;
$colorBlack: #000;

// ALERTS COLORS
$alertSuccess: rgba(0, 128, 0, 0.24);
$alertDanger: #f4d4d4;
$alertWarning: #f9c566;

// FONST SIZES
$defaultFontSize: 1.6rem;
$x-default: 1.7rem;
$xx-default: 1.8rem;
$medium: 2.7rem;

//FONT WEIGHTS
$default: 400;
$semi-bold: 500;
$bold: 600;
$x-bold: 700;
$thin: 300;

// SHADOWS
$shadowLightSamll: 0 0.2rem 3.5rem rgba($colorBlack, 0.08);
$shadowLightSamll: 0 0 0.9rem rgba($colorBlack, 0.2);

// INDEXES
$xx-large: 999;
