@import '../../sass/variables';

.landing {
  // max-width: 136rem;
  display: grid;
  grid-template-columns: repeat(2, 24rem 1fr [grid-end]);
  grid-template-rows: 7rem 1fr;
  height: 100vh;
}

.main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  margin: 1rem;
}
