@import '../../sass/variables';

.home-guest {
  max-width: 120rem;
  margin: 5rem auto;
  padding: 5rem;
  background-color: $colorGreyLight-1;
}

.guest-room {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  gap: $space-medium;

  &__join {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.register-box {
  width: 100%;
  padding: 5rem;
  box-shadow: $shadowLightSamll;
}
