@import './sass/variables';
@import './sass/animations';
@import './sass/utilities.scss';
@import './sass/mixins.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: inherit;
  font-size: $defaultFontSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
