@import './sass/variables';
@import './sass/animations';
@import './sass/utilities.scss';
@import './sass/mixins.scss';
@import './sass/layouts.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  box-sizing: inherit;
  line-height: 1.6;
  color: $colorGrey;
  font-size: $defaultFontSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// NOTIFICATION COUNTER
.badge-notification {
  background-color: $colorTertiary;
  color: $colorWhite;
  height: 2rem;
  width: 2rem;
  padding: 0.1rem;
  font-size: $defaultFontSize;
  @include flexboxCentering;
  border-radius: 50%;
}
